.title {
  font-size: 20px;
  font-weight: 600;
  margin: 40px 0 20px;
}

xmp {
  font-family: "Noto Sans KR", sans-serif, Arial, "Helvetica Neue", Helvetica;
  font-size: 14px;
  white-space: pre-wrap;
  background-color: #ddd;
}

#chunjae-template-guide {
  font-size: 16px;
  font-family: "Noto Sans KR", sans-serif, Arial, "Helvetica Neue", Helvetica;
}
#chunjae-template-guide input[type=radio] {
  position: absolute;
  width: 0;
  height: 0;
  padding: 0;
  overflow: hidden;
  border: 0;
}
#chunjae-template-guide .inline-align-left {
  text-align: left !important;
}
#chunjae-template-guide .inline-align-center {
  text-align: center !important;
}
#chunjae-template-guide .inline-align-right {
  text-align: right !important;
}
#chunjae-template-guide [class^=template-] {
  margin-bottom: 10px;
}
#chunjae-template-guide [class^=block-] {
  margin-bottom: 10px;
}
#chunjae-template-guide .template-top-num {
  font-weight: 600;
}
#chunjae-template-guide .template-top-title {
  color: #24a148;
  font-weight: 600;
}
#chunjae-template-guide .block-text {
  font-size: 15px;
}
#chunjae-template-guide .inline-text-image {
  display: inline-block;
}
#chunjae-template-guide .inline-math {
  display: inline-block;
}
#chunjae-template-guide .inline-text {
  display: inline-block;
}
#chunjae-template-guide .inline-blank-square {
  display: inline-block;
  width: 100px;
  height: 20px;
  margin: 0 10px;
  border: 1px solid #000;
}
#chunjae-template-guide .inline-box-title {
  position: absolute;
  top: -11px;
  left: 50%;
  padding: 0 10px;
  transform: translateX(-50%);
  background-color: #fff;
}
#chunjae-template-guide .block-box-type {
  padding: 10px;
  text-align: center;
  border: 1px solid #000;
}
#chunjae-template-guide .block-box-type .inline-input {
  width: 10%;
}
#chunjae-template-guide .inline-box-flex {
  display: flex;
}
#chunjae-template-guide .inline-box-col {
  flex: 1;
}
#chunjae-template-guide .inline-table-th, #chunjae-template-guide .inline-table-td {
  padding: 10px;
  border: 1px solid #000;
}
#chunjae-template-guide .inline-table-th {
  text-align: center;
  background-color: #d6d6d6;
}
#chunjae-template-guide .inline-input {
  border: 0;
  text-align: center;
}
#chunjae-template-guide .inline-input-line {
  text-align: center;
}
#chunjae-template-guide .inline-input-text {
  display: inline-block;
}
#chunjae-template-guide .inline-radio-label {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 20px;
  height: 20px;
  font-size: 14px;
  border-radius: 100%;
  border: 1px solid #000;
  cursor: pointer;
}
#chunjae-template-guide input[type=radio]:checked + .inline-radio-label {
  color: #fff;
  font-weight: 600;
  border-color: rgb(1, 117, 190);
  background-color: rgb(1, 117, 190);
}
#chunjae-template-guide .block-choice {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}
#chunjae-template-guide .block-choice.col03-type .block-choice-item {
  width: 33.333333%;
  flex: none;
}
#chunjae-template-guide .block-choice.row-type {
  flex-direction: column;
  align-items: flex-start;
}
#chunjae-template-guide .block-choice-item {
  display: flex;
  align-items: center;
  flex: 1;
  gap: 5px;
}
#chunjae-template-guide .blank-inner-left {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
#chunjae-template-guide .blank-inner-center {
  display: flex;
  align-items: center;
  justify-content: center;
}
#chunjae-template-guide .title-inner-type {
  position: relative;
  padding: 20px 0;
}
#chunjae-template-guide .inline-layer-pop {
  display: none;
  overflow: hidden;
  position: absolute;
  right: 0;
  width: fit-content;
  border: 1px solid #ddd;
  border-radius: 4px;
}
#chunjae-template-guide .inline-layer-pop .layer-title-wrap {
  display: flex;
  justify-content: space-between;
  padding: 15px;
  color: #fff;
  background-color: #24a148;
}
#chunjae-template-guide .inline-layer-pop .layer-title-wrap .layer-close {
  color: #fff;
}
#chunjae-template-guide .inline-layer-pop .layer-choice-wrap {
  display: flex;
  gap: 10px;
  padding: 15px;
  background-color: #fff;
}
#chunjae-template-guide .inline-layer-pop .layer-choice-wrap .layer-choice-content {
  min-width: 70px;
  padding: 10px 0;
  flex: 1;
  text-align: center;
  border: 1px solid #000;
  border-radius: 4px;
  cursor: pointer;
}
#chunjae-template-guide .inline-layer-pop .layer-choice-wrap .layer-choice-content:hover {
  color: #fff;
  border-color: #24a148;
  background-color: #24a148;
}
#chunjae-template-guide .inline-layer-pop.on {
  display: block;
}
#chunjae-template-guide .block-line-connect {
  display: flex;
}
#chunjae-template-guide .inline-left-wrap, #chunjae-template-guide .inline-right-wrap {
  flex: 1;
}